textarea{
    resize: horizontal;
}

.alert{
    position: absolute !important;
    top: 0;
    right: 0;
    left: 0;
    padding: 3px 0 !important;
}

.alert-dismissible .close{
    padding: 0 !important;
    margin-right: 5px;
}
.btn_1:hover{
    text-decoration: none;
}
.card{
    border: none !important;
}
.btn-forget-password{
    margin-bottom: 10px;
    display: inline-block;
}